<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="node_modules/@holidayextras/jsonapi-client/dist/jsonapi-client.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="node_modules/tv4/tv4.js"></script>
    <script type="text/javascript" src="node_modules/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/schema-form.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/bootstrap-decorator.min.js"></script>

    <script type="text/javascript" src="public/highlight.pack.js"></script>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="public/milligram.min.css">
    <link rel="stylesheet" href="public/default.css">
    <script type="text/javascript" src="public/api/ApiClient.js"></script>
    <script type="text/javascript" src="public/api/Auth.js"></script>
    <script type="text/javascript" src="public/api/User.js"></script>
    <script type="text/javascript" src="public/spa.js"></script>
</head>
<body ng-app="spa">

<div class="container">
    <div ng-controller="AuthController">
        <h1>User Authorization Header</h1>
        <div class="row">
            <div class="column column-50">
                <form ng-submit="setAuthorizationHeader()" name="authForm">
                    <div class="form-group">
                        <label class="control-label" for="token">Token (Current : {{ vm.token ? vm.token :
                            'Empty'}})</label>
                        <input id="token" type="text" name="token" ng-model="tokenToSave">
                    </div>
                    <div class="form-group schema-form-submit ">
                        <input type="submit" class="btn btn-primary" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div ng-controller="UserController">
        <h1>Users</h1>
        <h2>Post</h2>
        <div class="row">
            <div class="column">
                <hljs-code code="code.scheme" type="json"></hljs-code>
            </div>
            <div class="column">
                <div>
                    <form sf-schema="schema" sf-form="form" sf-model="model" name="userForm"
                          ng-submit="onSubmit(userForm)"></form>
                </div>
            </div>
        </div>
        <h2>Get</h2>
        <div class="row">
            <div class="column">
                <button type="button" ng-click="getUsers()">Get Users</button>
                <hljs-code code="code.getUsers" type="json"></hljs-code>
            </div>
        </div>

    </div>


</div>


<script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
